<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="helios16p">
  <!-- 
  Lidar URDF/XACRO
  Descrizione: Modello base del Lidar Helios 16P della Robosense
  Autore: Gabriele Barletta
  Data: 10/12/25
  Licenza: GNU GPL
  -->


  <!-- Global Shifts -->
  <xacro:property name="global_z_offset" value="0"/>
  <xacro:property name="goshift_x" value="0.06"/>

  <!-- Colors -->
  <xacro:property name="waterblue" value="0 1 0.5 1"/>
  <xacro:property name="purple" value="1 0 1 1"/>
  <xacro:property name="gray" value="0.5 0.5 0.5 1"/>
  <xacro:property name="orange" value="1 0.5 0 0.5"/>
  
  <!-- Sizes -->
  <xacro:property name="base_box_size" value="0.065 0.12 0.05"/>
  <xacro:property name="top_box_size" value="0.065 0.12 0.01"/>
  <xacro:property name="base_round_radius" value="0.06"/>
  <xacro:property name="base_round_length" value="0.05"/>
  <xacro:property name="top_round_radius" value="0.06"/>
  <xacro:property name="top_round_length" value="0.01"/>
  <xacro:property name="pillar_radius" value="0.008"/>
  <xacro:property name="pillar_length" value="0.1"/>
  <xacro:property name="lidar_radius" value="0.05"/>
  <xacro:property name="lidar_length" value="0.1"/>
  <xacro:property name="gobody_fourth_of_y" value="0.06"/>  
  <xacro:property name="gobody_length" value="0.35"/>
  <xacro:property name="halfpi" value="1.5708"/>

  <!-- Positions -->
  <xacro:property name="base_round_z" value="0.025"/>
  <xacro:property name="top_z" value="0.145"/>
  <xacro:property name="pillar_z" value="0.05"/>
  <xacro:property name="lidar_z" value="0.05"/>


  <!-- Base Link Its the "squared" part of the lidar base -->
  <link name="base_l">
    <visual>
      <geometry>
        <box size="${base_box_size}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="-0.0325 0 ${0.025+global_z_offset}" rpy="0 0 0"/>
    </visual>
  </link>

<!-- Curved inferior part mounted on the main link -->
  <link name="base_round_part">
    <visual>
      <geometry>
        <cylinder radius="${base_round_radius}" length="${base_round_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="base_round_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="base_round_part"/>
    <origin xyz="0 0 ${base_round_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

<!-- Squared upper part mounted on the main link -->
  <link name="top_link">
    <visual>
      <geometry>
        <box size="${top_box_size}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="-0.0325 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="top_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="top_link"/>
    <origin xyz="0 0 ${top_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

<!-- Curved upper part mounted on the main link -->
<link name="top_round_part">
    <visual>
      <geometry>
        <cylinder radius="${top_round_radius}" length="${top_round_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="top_round_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="top_round_part"/>
    <origin xyz="0 0 ${top_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Pillar mounted on the left side -->
  <link name="sx_pillar">
    <visual>
      <geometry>
        <cylinder radius="${pillar_radius}" length="${pillar_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 ${pillar_z}" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="sx_pillar_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="sx_pillar"/>
    <origin xyz="-0.055 0.05 ${pillar_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Pillar mounted on the right side -->
  <link name="dx_pillar">
    <visual>
      <geometry>
        <cylinder radius="${pillar_radius}" length="${pillar_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 ${pillar_z}" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="dx_pillar_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="dx_pillar"/>
    <origin xyz="-0.055 -0.05 ${pillar_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Lidar mounted on the base -->
 <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder radius="${lidar_radius}" length="${lidar_length}"/>
      </geometry>
      <material name="purple">
        <color rgba="${purple}"/>
      </material>
      <origin xyz="0 0 0.04" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="base_to_lidar" type="fixed">
    <parent link="base_l"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 ${lidar_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Robot body parts -->
  <link name="gobody">
    <visual>
      <geometry>
        <box size="${gobody_length} ${2 * gobody_fourth_of_y} ${2 * gobody_fourth_of_y}"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobody_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="gobody"/>
    <origin xyz="${0-goshift_x} 0 ${-gobody_fourth_of_y+global_z_offset}" rpy="0 0 0"/>
  </joint>


  <link name="gobodysx">
    <visual>
      <geometry>
        <cylinder radius="${gobody_fourth_of_y}" length="${gobody_length}"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobodysx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="gobodysx"/>
    <origin xyz="${0-goshift_x} ${gobody_fourth_of_y} ${-gobody_fourth_of_y+global_z_offset}" rpy="0 ${halfpi} 0"/>
  </joint>

  <link name="gobodydx">
    <visual>
      <geometry>
        <cylinder radius="${gobody_fourth_of_y}" length="${gobody_length}"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobodydx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="gobodydx"/>
    <origin xyz="${0-goshift_x} ${-gobody_fourth_of_y} ${-gobody_fourth_of_y+global_z_offset}" rpy="0 ${halfpi} 0"/>
  </joint>

  <!-- Neck -->
  <link name="goneck">
    <visual>
      <geometry>
        <box size="${gobody_fourth_of_y * 2} ${gobody_fourth_of_y} ${gobody_fourth_of_y * 2}"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goneck_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="goneck"/>
    <origin xyz="${(gobody_length / 2) + (gobody_fourth_of_y / 2) -goshift_x} 0 ${-gobody_fourth_of_y+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Head -->
  <link name="gohead">
    <visual>
      <geometry>
        <sphere radius="${gobody_fourth_of_y * 6 / 5}"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gohead_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="gohead"/>
    <origin xyz="${(gobody_length / 2) + (gobody_fourth_of_y * 2) - goshift_x} 0 ${-gobody_fourth_of_y+global_z_offset}" rpy="${halfpi} 0 0"/>
  </joint>

  <!-- Back -->
  <link name="goback">
    <visual>
      <geometry>
        <cylinder radius="${gobody_fourth_of_y}" length="${gobody_fourth_of_y * 4}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goback_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="goback"/>
    <origin xyz="${(-gobody_length / 2) -goshift_x} 0 ${-gobody_fourth_of_y+global_z_offset}" rpy="${halfpi} 0 0"/>
  </joint>

  <!-- Back corners and neck-shoulder connector -->
  <link name="gobackdx">
    <visual>
      <geometry>
        <sphere radius="${gobody_fourth_of_y}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobackdx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="gobackdx"/>
    <origin xyz="${(-gobody_length / 2) -goshift_x} ${-gobody_fourth_of_y *2} ${-gobody_fourth_of_y+global_z_offset}" rpy="${halfpi} 0 0"/>
  </joint>



  <link name="gobacksx">
    <visual>
      <geometry>
        <sphere radius="${gobody_fourth_of_y}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobacksx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="gobacksx"/>
    <origin xyz="${(-gobody_length / 2) -goshift_x} ${gobody_fourth_of_y * 2} ${-gobody_fourth_of_y+global_z_offset}" rpy="${halfpi} 0 0"/>
  </joint>


<link name="goneckdx">
    <visual>
      <geometry>
        <sphere radius="${gobody_fourth_of_y}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goneckdx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="goneckdx"/>
    <origin xyz="${(gobody_length / 2) -goshift_x} ${-gobody_fourth_of_y * 2} ${-gobody_fourth_of_y+global_z_offset}" rpy="${halfpi} 0 0"/>
  </joint>

<link name="gonecksx">
    <visual>
      <geometry>
        <sphere radius="${gobody_fourth_of_y}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gonecksx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="gonecksx"/>
    <origin xyz="${(gobody_length / 2) -goshift_x} ${gobody_fourth_of_y * 2} ${-gobody_fourth_of_y+global_z_offset}" rpy="${halfpi} 0 0"/>
  </joint>
 

  <link name="goaneckshoulders">
    <visual>
      <geometry>
        <cylinder radius="${gobody_fourth_of_y}" length="${gobody_fourth_of_y * 4}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goaneckshoulders_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="goaneckshoulders"/>
    <origin xyz="${(gobody_length / 2) -goshift_x} 0 ${-gobody_fourth_of_y+global_z_offset}" rpy="${halfpi} 0 0"/>
  </joint>

  <!-- Legs occupancy -->
  <link name="legsx">
    <visual>
      <geometry>
        <box size="0.70 ${gobody_fourth_of_y} ${0.2 + (gobody_fourth_of_y * 2)}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="legsx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="legsx"/>
    <origin xyz="${-goshift_x} ${gobody_fourth_of_y * 5 / 2} ${-((0.2 + (gobody_fourth_of_y * 2)) / 2) - gobody_fourth_of_y + global_z_offset}" rpy="0 0 0"/>
  </joint>


  <link name="legdx">
    <visual>
      <geometry>
        <box size="0.70 ${gobody_fourth_of_y} ${0.2 + (gobody_fourth_of_y * 2)}"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="legdx_to_base" type="fixed">
    <parent link="base_l"/>
    <child link="legdx"/>
    <origin xyz="${-goshift_x} ${-gobody_fourth_of_y * 5 / 2} ${-((0.2 + (gobody_fourth_of_y * 2)) / 2) - gobody_fourth_of_y + global_z_offset}" rpy="0 0 0"/>
  </joint>

</robot>