<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="helios16p">
  <!-- 
  Lidar URDF/XACRO
  Descrizione: Modello base del Lidar Helios 16P della Robosense
  Autore: Gabriele Barletta
  Data: 10/12/25
  Licenza: GNU GPL
  -->

  <!-- Colori -->
  <xacro:property name="waterblue" value="0 1 0.5 1"/>
  <xacro:property name="purple" value="1 0 1 1"/>

  <!-- Dimensioni ricorrenti -->
  <xacro:property name="base_box_size" value="0.065 0.12 0.05"/>
  <xacro:property name="top_box_size" value="0.065 0.12 0.01"/>
  <xacro:property name="base_round_radius" value="0.06"/>
  <xacro:property name="base_round_length" value="0.05"/>
  <xacro:property name="top_round_radius" value="0.06"/>
  <xacro:property name="top_round_length" value="0.01"/>
  <xacro:property name="pillar_radius" value="0.008"/>
  <xacro:property name="pillar_length" value="0.1"/>
  <xacro:property name="lidar_radius" value="0.05"/>
  <xacro:property name="lidar_length" value="0.1"/>

  <!-- Posizioni ricorrenti -->
  <xacro:property name="base_round_z" value="0.025"/>
  <xacro:property name="top_z" value="0.145"/>
  <xacro:property name="pillar_z" value="0.05"/>
  <xacro:property name="lidar_z" value="0.05"/>
    <!-- Shift Globali -->
  <xacro:property name="global_z_lidar_shift" value="0.0"/>
  <xacro:property name="global_x_lidar_shift" value="0.0"/>
  <xacro:property name="global_y_lidar_shift" value="0.0"/>

<xacro:macro name="lidar_macro" params="parent">
  <!-- Link principale - è la parte "squadrata" della base del lidar -->
  <link name="${parent}_base_l">
    <visual>
      <geometry>
        <box size="${base_box_size}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="${global_x_lidar_shift - 0.0325} ${global_y_lidar_shift} ${global_z_lidar_shift + 0.025}" rpy="0 0 0"/>
    </visual>
  </link>

<!-- parte curva inferiore montata sul link principale-->
  <link name="${parent}_base_round_part">
    <visual>
      <geometry>
        <cylinder radius="${base_round_radius}" length="${base_round_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="${parent}_base_round_to_base" type="fixed">
    <parent link="${parent}_base_l"/>
    <child link="${parent}_base_round_part"/>
    <origin xyz="${global_x_lidar_shift} ${global_y_lidar_shift} ${global_z_lidar_shift + base_round_z}" rpy="0 0 0"/>
  </joint>

<!-- parte non curva superiore montata sul link principale-->
  <link name="${parent}_top_link">
    <visual>
      <geometry>
        <box size="${top_box_size}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="-0.0325 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="${parent}_top_to_base" type="fixed">
    <parent link="${parent}_base_l"/>
    <child link="${parent}_top_link"/>
    <origin xyz="${global_x_lidar_shift} ${global_y_lidar_shift} ${global_z_lidar_shift + top_z}" rpy="0 0 0"/>
  </joint>

<!-- parte curva superiore montata sul link principale-->
<link name="${parent}_top_round_part">
    <visual>
      <geometry>
        <cylinder radius="${top_round_radius}" length="${top_round_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="${parent}_top_round_to_base" type="fixed">
    <parent link="${parent}_base_l"/>
    <child link="${parent}_top_round_part"/>
    <origin xyz="${global_x_lidar_shift} ${global_y_lidar_shift} ${global_z_lidar_shift + top_z}" rpy="0 0 0"/>
  </joint>

  <!-- Pilastro montato sul lato sinistro -->
  <link name="${parent}_sx_pillar">
    <visual>
      <geometry>
        <cylinder radius="${pillar_radius}" length="${pillar_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 ${pillar_z}" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="${parent}_sx_pillar_to_base" type="fixed">
    <parent link="${parent}_base_l"/>
    <child link="${parent}_sx_pillar"/>
    <origin xyz="${global_x_lidar_shift - 0.055} ${global_y_lidar_shift + 0.05} ${global_z_lidar_shift + pillar_z}" rpy="0 0 0"/>
  </joint>

  <!-- Pilastro montato sul lato destro -->
  <link name="${parent}_dx_pillar">
    <visual>
      <geometry>
        <cylinder radius="${pillar_radius}" length="${pillar_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 ${pillar_z}" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="${parent}_dx_pillar_to_base" type="fixed">
    <parent link="${parent}_base_l"/>
    <child link="${parent}_dx_pillar"/>
    <origin xyz="${global_x_lidar_shift - 0.055} ${global_y_lidar_shift - 0.05} ${global_z_lidar_shift + pillar_z}" rpy="0 0 0"/>
  </joint>

  <!-- Lidar montato sulla base -->
 <link name="${parent}_lidar_link">
    <visual>
      <geometry>
        <cylinder radius="${lidar_radius}" length="${lidar_length}"/>
      </geometry>
      <material name="purple">
        <color rgba="${purple}"/>
      </material>
      <origin xyz="0 0 0.04" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="${parent}_base_to_lidar" type="fixed">
    <parent link="${parent}_base_l"/>
    <child link="${parent}_lidar_link"/>
    <origin xyz="${global_x_lidar_shift} ${global_y_lidar_shift} ${global_z_lidar_shift + lidar_z}" rpy="0 0 0"/>
  </joint>
</xacro:macro>
</robot>
