<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="helios16p">
  <!-- 
  Lidar URDF/XACRO
  Descrizione: Modello base del Lidar Helios 16P della Robosense
  Autore: Gabriele Barletta
  Data: 10/12/25
  Licenza: GNU GPL
  -->
  <xacro:property name="global_z_offset" value="0"/>

  <xacro:property name="goshift_x" value="0.09"/>



  <!-- Colori -->
  <xacro:property name="waterblue" value="0 1 0.5 1"/>
  <xacro:property name="purple" value="1 0 1 1"/>
  <xacro:property name="gray" value="0.5 0.5 0.5 1"/>
  <xacro:property name="orange" value="1 0.5 0 0.5"/>
  
  <!-- Dimensioni ricorrenti -->
  <xacro:property name="base_box_size" value="0.065 0.12 0.05"/>
  <xacro:property name="top_box_size" value="0.065 0.12 0.01"/>
  <xacro:property name="base_round_radius" value="0.06"/>
  <xacro:property name="base_round_length" value="0.05"/>
  <xacro:property name="top_round_radius" value="0.06"/>
  <xacro:property name="top_round_length" value="0.01"/>
  <xacro:property name="pillar_radius" value="0.008"/>
  <xacro:property name="pillar_length" value="0.1"/>
  <xacro:property name="lidar_radius" value="0.05"/>
  <xacro:property name="lidar_length" value="0.1"/>
  

  <!-- Posizioni ricorrenti -->
  <xacro:property name="base_round_z" value="0.025"/>
  <xacro:property name="top_z" value="0.145"/>
  <xacro:property name="pillar_z" value="0.05"/>
  <xacro:property name="lidar_z" value="0.05"/>


  <!-- Link principale - è la parte "squadrata" della base del lidar -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="${base_box_size}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="-0.0325 0 ${0.025+global_z_offset}" rpy="0 0 0"/>
    </visual>
  </link>

<!-- parte curva inferiore montata sul link principale-->
  <link name="base_round_part">
    <visual>
      <geometry>
        <cylinder radius="${base_round_radius}" length="${base_round_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="base_round_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="base_round_part"/>
    <origin xyz="0 0 ${base_round_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

<!-- parte non curva superiore montata sul link principale-->
  <link name="top_link">
    <visual>
      <geometry>
        <box size="${top_box_size}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="-0.0325 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="top_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="top_link"/>
    <origin xyz="0 0 ${top_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

<!-- parte curva superiore montata sul link principale-->
<link name="top_round_part">
    <visual>
      <geometry>
        <cylinder radius="${top_round_radius}" length="${top_round_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="top_round_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="top_round_part"/>
    <origin xyz="0 0 ${top_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Pilastro montato sul lato sinistro -->
  <link name="sx_pillar">
    <visual>
      <geometry>
        <cylinder radius="${pillar_radius}" length="${pillar_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 ${pillar_z}" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="sx_pillar_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="sx_pillar"/>
    <origin xyz="-0.055 0.05 ${pillar_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Pilastro montato sul lato destro -->
  <link name="dx_pillar">
    <visual>
      <geometry>
        <cylinder radius="${pillar_radius}" length="${pillar_length}"/>
      </geometry>
      <material name="waterblue">
        <color rgba="${waterblue}"/>
      </material>
      <origin xyz="0 0 ${pillar_z}" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="dx_pillar_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="dx_pillar"/>
    <origin xyz="-0.055 -0.05 ${pillar_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <!-- Lidar montato sulla base -->
 <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder radius="${lidar_radius}" length="${lidar_length}"/>
      </geometry>
      <material name="purple">
        <color rgba="${purple}"/>
      </material>
      <origin xyz="0 0 0.04" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="base_to_lidar" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 ${lidar_z+global_z_offset}" rpy="0 0 0"/>
  </joint>

  <link name="gobody">
    <visual>
      <geometry>
        <box size="0.30 0.12 0.12"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobody_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="gobody"/>
    <origin xyz="${0-goshift_x} 0 ${-0.06+global_z_offset}" rpy="0 0 0"/>
  </joint>


  <link name="gobodysx">
    <visual>
      <geometry>
        <cylinder radius="0.060" length="0.30"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobodysx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="gobodysx"/>
    <origin xyz="${0-goshift_x} 0.06 ${-0.060+global_z_offset}" rpy="0 1.5708 0"/>
  </joint>

  <link name="gobodydx">
    <visual>
      <geometry>
        <cylinder radius="0.06" length="0.30"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gobodydx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="gobodydx"/>
    <origin xyz="${0-goshift_x} -0.06 ${-0.060+global_z_offset}" rpy="0 1.5708 0"/>
  </joint>


  <link name="goneck">
    <visual>
      <geometry>
        <box size="0.15 0.08 0.12"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goneck_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="goneck"/>
    <origin xyz="${0.225-goshift_x} 0 ${-0.06+global_z_offset}" rpy="0 0 0"/>
  </joint>


  <link name="gohead">
    <visual>
      <geometry>
        <sphere radius="0.072"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gohead_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="gohead"/>
    <origin xyz="${0.30-goshift_x} 0 ${-0.060+global_z_offset}" rpy="1.5708 0 0"/>
  </joint>


  <link name="goassback">
    <visual>
      <geometry>
        <cylinder radius="0.06" length="0.18"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goassback_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="goassback"/>
    <origin xyz="${-0.15-goshift_x} 0 ${-0.060+global_z_offset}" rpy="1.5708 0 0"/>
  </joint>


  <link name="goassdx">
    <visual>
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goassdx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="goassdx"/>
    <origin xyz="${-0.15-goshift_x} -0.09 ${-0.060+global_z_offset}" rpy="1.5708 0 0"/>
  </joint>


  <link name="goassx">
    <visual>
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goasssx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="goassx"/>
    <origin xyz="${-0.15-goshift_x} 0.09 ${-0.060+global_z_offset}" rpy="1.5708 0 0"/>
  </joint>

<link name="goneckdx">
    <visual>
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goneckdx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="goneckdx"/>
    <origin xyz="${0.15-goshift_x} -0.09 ${-0.060+global_z_offset}" rpy="1.5708 0 0"/>
  </joint>


  <link name="gonecksx">
    <visual>
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="gonecksx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="gonecksx"/>
    <origin xyz="${0.15-goshift_x} 0.09 ${-0.060+global_z_offset}" rpy="1.5708 0 0"/>
  </joint>


  <link name="goaneckshoulders">
    <visual>
      <geometry>
        <cylinder radius="0.06" length="0.18"/>
      </geometry>
      <material name="gray">
        <color rgba="${gray}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="goaneckshoulders_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="goaneckshoulders"/>
    <origin xyz="${0.15-goshift_x} 0 ${-0.060+global_z_offset}" rpy="1.5708 0 0"/>
  </joint>


  <link name="legsx">
    <visual>
      <geometry>
        <box size="0.70 0.12 0.36"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="legsx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="legsx"/>
    <origin xyz="${0-goshift_x} 0.1 ${-0.32+global_z_offset}" rpy="0 0 0"/>
  </joint>


  <link name="legdx">
    <visual>
      <geometry>
        <box size="0.70 0.12 0.36"/>
      </geometry>
      <material name="orange">
        <color rgba="${orange}"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="legdx_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="legdx"/>
    <origin xyz="${0-goshift_x} -0.1 ${-0.32+global_z_offset}" rpy="0 0 0"/>
  </joint>

</robot>
